.doctor-app-alg{
	background-image: url("../images/mc1.jfif");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.doctor-app-mlg{
	background-image: url("../images/mc2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.doctor-app-dlg{
	background-image: url("../images/mc3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.doctor-app-plg1{
	background-image: url("../images/mc4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.doctor-app-adhm{
	background-image: url("../images/mc5.webp");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.doctor-app-acat{
	background-image: url("../images/mc6.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.doctor-app-asub{
	background-image: url("../images/mc7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.doctor-app-adm{
	background-image: url("../images/mc8.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.doctor-app-amcm{
	background-image: url("../images/mc9.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.doctor-app-adhm{
	background-image: url("../images/mc10.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.doctor-app-avm{
	background-image: url("../images/mc11.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.doctor-app-avm2{
	background-image: url("../images/mc13.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.doctor-app-apm1{
	background-image: url("../images/mc14.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}